body {
	background-image: url("../imagens/fundo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.caixa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.titulo {
	color: #FFFFFF;
}

.texto {
	font-size: 25px;
	color: #FFFFFF;
}

.entrada {
	width: 15%;
	padding: 8px 15px;
	font-size: 15px;
}

.botao {
	width: 15%;
	padding: 12px 0;
	margin-top: 30px;
}